{% extends "base.html" %}

{% block title %}عضویت{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-5">

<div class="card p-4">

<h3 class="text-center">عضویت</h3>

<form method="post">

{% csrf_token %}

<div class="mb-3">
<label>نام کاربری</label>
<input type="text" name="username" class="form-control">
</div>

<div class="mb-3">
<label>رمز عبور</label>
<input type="password" name="password" class="form-control">
</div>

<div class="mb-3">
<label>ایمیل</label>
<input type="email" name="email" class="form-control">
</div>

<button class="btn btn-primary w-100">ثبت نام</button>

</form>

</div>
</div>
</div>

{% endblock %}
